.tc-hyper-table-search-container {
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.tc-hyper-table-search-top {
  margin-bottom: 5px;
}

.tc-hyper-table-search-bottom {
  margin-top: 5px;
}

.tc-hyper-table-search-input {
  padding: 5px;
  border-radius: 4px;
  flex-grow: 1;
  padding-right: 25px;
  position: relative;
}

.tc-hyper-table-search-btn,
.tc-hyper-table-next-btn,
.tc-hyper-table-prev-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tc-hyper-table-search-result-count {
  margin-left: 10px;
  font-weight: bold;
}

.tc-hyper-table-clear-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0 5px;
  z-index: 2;
}

.tc-hyper-table-input-container {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.tc-hyper-table-hidden {
  display: none !important;
}
